<script>
function toggle_utxo_view() {
    utxo_view = document.getElementById("utxo_view");
    utxos_div = document.getElementById("utxos");
    if (utxo_view.checked === true) {
        utxos_div.hidden = false;
    } else {
        utxos_div.hidden = true;
    }
}
</script>
<!--
<div id="overlay_chart">
  <div style="width:50%; height:50%;">
    <canvas id="balances_chart" width="100%" height="100%">
    </canvas>
  </div>
</div>
-->

<div id="main_stats">
<div class="container">
 <!--<input hidden id="utxo_view" type="checkbox" onclick="toggle_utxo_view()" name="utxo_check" value="utxo"> Show Unspent Transactions <br>-->
 <p hidden id="show_transaction_form"><%=@show_transaction_form%></p>
 <div hidden id="transaction_form">
  <h1>
    Submit a transaction:
  </h1>
  <form action="submit_transaction" style="align:center;margin: 0 auto; width:256px;">
    <input hidden name="show_transaction_form" value="true">
    From Node with index: (from nodes below) <input name="from_index"><br/><br/>
    To Node with index: (from nodes below) <input name="to_index"><br/><br/>
    Amount: <br/><input name="amount"><br/><br/>
    <button style="color:white;">Submit</button>
  </form>
 </div>
 <div hidden id="utxos" class="row-lg">
  <h2>Unspent Transactions</h2>
  <p>Info</p>            
  <table id="utxo_list" class="table table-bordered">

  </table>
  </div>
    <div class="row-lg">
        <h1>Simulation</h1>
            <p hidden id="list_table"><%=@list_table |> Poison.encode!()%></p>
        <div>
            <p>Started <%=@num_pids%> nodes</p>
        </div>
        <table id="list_nodes" >
        </table>
    </div>
<div class="row-lg">
  <h2>Statistics</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Number of Nodes</td>
        <td id="td_num_nodes"><%=@num_pids%></td>
      </tr>
      <tr>
        <td>Number of Transactions made</td>
        <td id="td_num_transactions">-</td>
      </tr>
      <tr>
        <td>Total amount of bitcoins mined</td>
        <td id="td_bitcoin_mined">-</td>
      </tr>
      <tr>
        <td>Total amount of bitcoins transacted</td>
        <td id="td_bitcoin_transacted">-</td>
      </tr>
      <tr>
        <td>Number of blocks mined</td>
        <td id="td_block_count">-</td>
      </tr>
      <tr>
        <td>Unspent Transaction Amount</td>
        <td id="td_unspent_amount">-</td>
      </tr>
    </tbody>
  </table>
  </div>


</div>
</div>

<div hidden id="charts_div">
<div class="chart-container" style="position: relative; height:10vh; width:120vw">
<div class = "col-lg-8">
    <canvas id="balances_chart_new"  style="display: block; height: 395px; width: 790px;">
    </canvas>
</div>
</div>
<div class="chart-container" style="position: relative; height:10vh; width:120vw">
<div class = "col-lg-8">
    <canvas id="blocks_chart_new">
    </canvas>
</div>
</div>
</div>


