<section class="phx-hero">
  <h1>Simulation</h1>
  Select Type of Simulation:
   <select id="transactions_type" name="transactions_type" form="startsimulation">
      <option value="manual">Manual transactions</option>
      <option value="automatic">Automatically simulate transactions</option>
   </select> 
  <form id="startsimulation" action="/start_simulation">
    Enter Number of Nodes: <input id="num_nodes" style="text-align:center;" name="num_nodes" type="text"> <br/>
    <button type="submit" style="color:white;">Start</button>
  </form>
</section>
<!--
<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://hexdocs.pm/phoenix/overview.html">Guides &amp; Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix/blob/v1.4/CHANGELOG.md">v1.4 Changelog</a>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <a href="https://elixirforum.com/c/phoenix-forum">Forum</a>
      </li>
      <li>
        <a href="https://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on Freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
    </ul>
  </article>
</section>
-->
